name: Docker Example

on:
  workflow_dispatch:

jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        
      - name: bundle everything to zip
        run: zip -r code.zip ./
        
      - name: verification
        run: ls -alhR

      - run: npm install
      - run: npm run build --if-present

      - name: Run tests and generate coverage
        run: npm test -- --coverage

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: izzy84/calculator-app-finished2:latest

      - name: Better Test Reports Action
        uses: mridang/action-test-reporter@v1.7.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          coverage-file: ./coverage/clover.xml # Path to your clover, cobertura, jacoco, or lcov file
          working-directory: ./
